$black: #000;
$white: #fff;
$pink: #ff3366;

$font: -apple-system, BlinkMacSystemFont, 'Questrial', sans-serif, "Apple Color Emoji";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;  
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: $font;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.wrapper {
  background-color: $black;
  min-height: 100vh;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 320px;
  color: $white;

  .formLink {
    width: 287px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $white;
    border-radius: 5px;
    margin-top: 15px;
    
    text-decoration: none;
    color: $white;
    font-family: $font;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1px;
  }
}

.profile {
  margin-top: 15px;
  margin-bottom: 15px;

  .email {
    text-decoration: underline;
    color: $white;
  }

  p {
    padding-bottom: 8px;
  }
}

.communication {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 290px;

  .link {
    text-decoration: none;
  }
}

.skills {
  background-color: $black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  background-color: $black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    padding: 30px 25px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;

    .input-block {
      margin-bottom: 20px;

      label {
        font-family: $font;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: 1px;
        color: $white;
      }

      input, textarea {
        width: 100%;
        display: block;
        margin-top: 8px;
        padding: 7px;
        font-size: 16px;
        color: $pink;
        border-radius: 2px;
        border: 1px solid #fff;
        outline-color: $pink;
        resize: none;
      }

    }
  }
}

header {
  padding-bottom: 20px;

  h1 {
    font-family: $font;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      width: 105%;
      height: 0.08em;
      bottom: 0em;
      z-index: 1;
      transform: rotate(-2deg);
      animation: 0.5s cubic-bezier(0.26, 0.29, 0.14, 1.13) 1s 1 normal forwards running cztpiG;
      border-radius: 2px;
      background: $pink;
    }
  }
}